# 忽略 Python 编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略虚拟环境文件夹
venv/
env/
*.egg-info/

# 忽略 IDE 和编辑器的配置文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 忽略 Jupyter Notebook 的 checkpoint 文件
.ipynb_checkpoints/

# 忽略操作系统的临时文件
.DS_Store
Thumbs.db

# 忽略日志文件
*.log

# 忽略其他常见的编译文件和缓存
*.bak
*.swp

/gaze_data/
/processed_data/
/stimul_videos/
/资料/
*.rar
